.contenedor-padre-pagos{

    display: flex;
    flex-direction: column;
    margin-top: 15vh;

}
.contenedor-pagos{

    width: 100%;
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;

}
.imagen-contenedor{

    margin: 5vh;

}
.imagen-pagos{

    height: 55vh;
    width: 50vh;
    
}
.informacion-pagos-contenedor{

    width: 30%;
    display: flex;
    flex-wrap: wrap;
    
}
.informacion-pagos-titulo{
    
    color: #2c3e50;
    font-size: 2.0em;
    width: 54vh;
    margin-bottom: 2vh;
    font-weight: bold;
    font-family: 'Poppins Medium';

}
.informacion-pagos-descripcion{

    font-size: 1.0em;
    color: #1A2A2D;
    opacity: .6;
    font-weight: 300;
}
.contenedor-tarjetas{

    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    align-items: center;
    width: 100%;

}
.tarjeta{

    height: 2vh;
    opacity: .7;
    width: 5vh;

}
@media only screen and (max-width: 1024px){

    .imagen-pagos{

        height: 35vh;
        width: 30vh;
        
    }
    .informacion-pagos-titulo{
    
        font-size: 1.4em;
    
    }
    .informacion-pagos-descripcion{

        font-size: 0.9em;

    }


}
@media only screen and (max-width: 630px){

    .imagen-pagos{

        height: 25vh;
        width: 20vh;
        
    }
    .informacion-pagos-titulo{
    
        font-size: 1.2em;
    
    }
    .informacion-pagos-descripcion{

        font-size: 0.8em;

    }


}
@media only screen and (max-width: 550px){

    .contenedor-pagos{

        flex-direction: column !important;

    }
    .imagen-pagos{

        height: 20vh;
        width: 15vh;
        
    }
    .imagen-contenedor{

        margin: 1vh;

    }
    .informacion-pagos-titulo{
    
        font-size: 1.3em;
    
    }
    .informacion-pagos-descripcion{

        font-size: 0.8em;

    }
    .contenedor-tarjetas{
    }

}
@media only screen and (max-height: 670px){
    .informacion-pagos-descripcion{

        font-size: 0.6em;

    }
    .contenedor-padre-pagos{

    margin-top: 25vh;

    }
}
@media only screen and (max-height: 670px){

    .contenedor-padre-pagos{

        margin-top: 35vh;
    
        }

}