.slider-contenedor{
    
    margin-top: 20vh;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.Slider{

    width: 90%;
    margin-top: 3vh;

}
.producto-contenedor{

    display: flex;
    justify-content: center;
    flex-direction: row !important;
    
}
.contenedor-nuestros-productos{

    width: 100%;;
    display: flex;
    justify-content: center;

}
.contenedor-informacion-productos{


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;

}
.nuestros-productos{

    color: #2c3e50;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Poppins Medium';

}
.descripcion-nuestros-productos{


    width: 50%;
    font-size: 1em;
    font-weight: 300;
    margin-top: 3vh;
    color: #1A2A2D;
    opacity: .6;

}
.producto{

    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 5vh;
    width: 50vh;
    height: 70vh;
    -webkit-box-shadow: 0px 32px 72px -38px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 32px 72px -38px rgba(0,0,0,0.41);
    box-shadow: 0px 32px 72px -38px rgba(0,0,0,0.41);

}
img{
    
    height: 20vh;
    width: 20vh;

}
.producto2-imagen{

    width: 30vh;

}
.producto-nombre{

    margin-top: 0.5vh;
    font-weight: 300;
    color: #1A2A2D;

}


.slick-prev:before,
.slick-next:before {

  color: #1A2A2D !important;

}
@media only screen and (max-width: 1300px){
    .producto{
        
        margin: 4vh;
        height: 70vh;

    }
    img{

        height: 15vh;
        width: 15vh;

    }
    .producto2-imagen{

        width: 25vh;

    }
    .producto-nombre{

        font-size: 1.2em;
    }
}
@media only screen and (max-width: 1000px){
    .producto{
        margin: 3vh;
        height: 50vh;

    }
    .producto2-imagen{

        width: 15vh;

    }
}
@media only screen and (max-width: 860px){
    .producto-nombre{
        
        font-size: 0.8em;
        
    }
    .producto2-imagen{

        width: 15vh;

    }
    img{

        height: 10vh;
        width: 10vh;

    }

}
@media only screen and (max-width: 770px){
    .producto{

        margin: 2vh;
    
    }
    .producto-nombre{
        
        font-size: 0.6em;
        
    }
    img{

        height: 8vh;
        width: 8vh;

    }
    .producto2-imagen{

        width: 10vh;

    }
}
@media only screen and (max-width: 510px){

    .producto{

        margin: 1.5vh;
        height: 35vh;
        width: 15vh;
    
    }
    .producto-nombre{
        
        font-size: 0.4em;
        
    }
    img{

        height: 7vh;
        width: 7vh;

    }
    .producto2-imagen{

        width: 8vh;

    }
    .slick-prev:before,
    .slick-next:before {

        visibility: hidden;

    }
   
}
@media only screen and (max-width: 1024px){
    .nuestros-productos{
    
        font-size: 1.4em;
    
    }
    .descripcion-nuestros-productos{
    
        font-size: 0.9em;
    
    }
}
@media only screen and (max-width: 630px){
    .nuestros-productos{
    
        font-size: 1.2em;
    
    }
    .descripcion-nuestros-productos{
    
        font-size: 0.8em;
    
    }
}
@media only screen and (max-width: 550px){
    .nuestros-productos{
    
        font-size: 1.3em;
    }

}
@media only screen and (max-height: 500px){

    .descripcion-nuestros-productos{

        font-size: 0.7em;
        
    }

    
}
